* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083241;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
}

.container h1 {
    color: white;
    font-size: 70px;
    padding: 30px 0;
    text-align: center;
}

/* ContainerSquare */
.containerSquare {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.square, .fizz, .buzz, .fizzbuzz {
    background-color: #1180a5;
    height: 150px;
    width: calc(90% / 7);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.fizz {
    background-color: #0ac996;
}

.buzz {
    background-color: #f0c051;
}

.fizzbuzz {
    background-color: #df3f64;
}